In [1]:
import pandas as pd
from sodapy import Socrata

In [13]:
client = Socrata("data.lacity.org", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [15]:
results = client.get("xjgu-z4ju")

In [16]:
results_df = pd.DataFrame.from_records(results)
results_df.head(5)

,incident_number,area_occ,rpt_dist,dispatch_date,dispatch_time,call_type_code,call_type_text
0,PD24053000002640,Southeast,1836,2024-05-30T00:00:00.000,14:18:02,620F,620 FAMILY
1,PD24041200001920,Outside,NaN,2024-04-12T00:00:00.000,11:24:17,006,CODE 6
2,PD24061800001899,Van Nuys,0935,2024-06-18T00:00:00.000,11:48:43,006,CODE 6
3,PD24050900001996,Outside,NaN,2024-05-09T00:00:00.000,10:37:20,006,CODE 6
4,PD24041500005122,West LA,0881,2024-04-15T00:00:00.000,23:31:20,900,900 UNKNOWN TROUBLE